# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
.cache/

# Environment variables / credentials
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
